# Spotify API credentials
VITE_SPOTIFY_CLIENT_ID=your_spotify_client_id_here
VITE_SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
VITE_SPOTIFY_REDIRECT_URI=https://yourdomain.com/callback
VITE_SPOTIFY_LOCAL_REDIRECT_URI=http://localhost:5173/callback

# YouTube/Google API credentials
VITE_YOUTUBE_CLIENT_ID=1012525230747-qk945oqihmbb426i97au3mbnj5jgv4me.apps.googleusercontent.com
VITE_YOUTUBE_CLIENT_SECRET=your_youtube_client_secret_here
VITE_YOUTUBE_API_KEY=your_youtube_api_key_here
VITE_YOUTUBE_REDIRECT_URI=https://yourdomain.com/callback

# Tidal API credentials
VITE_TIDAL_CLIENT_ID=your_tidal_client_id_here
VITE_TIDAL_CLIENT_SECRET=your_tidal_client_secret_here

# Genius API credentials (for lyrics)
VITE_GENIUS_CLIENT_ID=ku9IZ0gEYCiyKIzaQr1efCAO-fkkGCY5GQZGAJJajNUu40f9CHQBZinH0eLmZL8o
VITE_GENIUS_ACCESS_TOKEN=ku9IZ0gEYCiyKIzaQr1efCAO-fkkGCY5GQZGAJJajNUu40f9CHQBZinH0eLmZL8o
